button {
    background-color: var( --secundary-color);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40%;
    border-radius: 50px;
}
button:hover {
    background-color: var( --primary-color);
}