*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #A55C1F;
    --secundary-color: #391D05;
    --text-color: #FFF;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position:relative;
    background-color: #000;
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 10px;
}